# ignore all hidden
.*
# except
!.gitattributes
!.gitignore
!.gitmodules
!.github
!.github/**
!.yamlfmt.yaml
!.yamllint.yml

# Logs
logs
*.log*

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# AI tools
!.serena
!.claude
